node_modules
.next
out
.turbo
.git
.gitignore
Dockerfile
Dockerfile.*
docker-compose*.yml
.DS_Store
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
.env*
!.env.example
.vscode
.idea
**/*.tsbuildinfo
**/*.log
patches
